#latest_courses{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);

    border-bottom-left-radius: 50% 13%;
    border-bottom-right-radius: 50% 13%;

    padding-top: 50px;
}

#slide{
    overflow: hidden;
    cursor: pointer;

    .card{
        flex: 0 0 calc((100% / 3) - 2.8rem);
    }

    a{
        font-size: 20px;
    }
}

#price_badge{
    background-color: #ee7455;

    h5{
        font-size: 18px;
        
        padding: 5px 13px;
    }
}
#price_badge::before{
    border-top: 19px solid #ee7455;

    content: '';
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
#price_badge::after{
    bottom: 0;
    border-bottom: 19px solid #ee7455;

    content: '';
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.fa-circle{
    font-size: 8px;
    color: #D8D8D8;

    cursor: pointer;
}
.active{
    font-size: 12px;
    color: black;
}