#recent_posts{
    background-color: #f8f8f8;

    padding-top: 110px;

    h3{
        font-size: 24px;
    }

    i{
        font-size: 14px;
    }
}


@media (max-width: 575.98px) {
    .col-lg-4:not(:last-child){
        margin-bottom: 3rem;
    }
}