#transform_main_img{
    position: relative;
}

#transform_you{
    button{
        background-color: $jungle-green !important;
    }

    .shape-01{
        position: absolute;
        bottom: 0px;
        left: -250px;
    }

    .shape-05{
        position: absolute;
        top: 130px;
        left: -110px;
        
        z-index: -1;
    }

    .shape-07{
        position: absolute;

        bottom: -88px; 
        right: 280px; 
        
        z-index: -1;
    }
}

@media (max-width: 575.98px) {
    #transform_main_img{
        margin-bottom: 3rem;
    }

    #transform_you{
        .shape-01, .shape-05{
            display: none;
        }

        .shape-07{
            bottom: 0px;
            right: 0px;
        }
    }
}