#skills_main_img{
    position: relative;
    top: 0;
    left: 0;
}

#player_icon{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#upgrade_skills{
    img{
        cursor: pointer;
    }
}

#upgrade_skills{
    a{
        font-size: 15px;
    }
    
    .shape-07{
        position: absolute;

        bottom: -88px; 
        left: 550px; 
        
        z-index: -1;
    }
    
    .shape-05{
        position: absolute;
        top: 50px;
        left: -87px;
        
        z-index: -1;
    }
}