@import './partials/variables';
@import './partials/utilities';
@import './partials/common';

@import './partials/nav';
@import './partials/jumbotron';
@import './partials/learn-about';
@import './partials/upgrade-skills';
@import './partials/latest-courses';
@import './partials/testimonials';
@import './partials/transform-you';
@import './partials/recent-posts';
@import './partials/newsletter';
@import './partials/footer';

.container-fluid{
    padding: 0 150px;
}

#stats{
    margin: 0 120px;
}
section, #stats{
    padding-bottom: 110px;
}